.container {
  margin-left: 30%;
  margin-right: 30%;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.search .input {
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  color: rgb(122, 122, 122);
  width: 100vw;
  margin-right: 10px;
  display: inline;
}
.search .button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 5px;
  background-color: #ec6e4c;
  border: 1px solid #ec6e4c;
  cursor: pointer;
  width: 100px;
  color: #f0f0f0;
}

.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.temperature {
  font-size: 48px;
  display: inline;
  position: relative;
}

.units {
  font-size: 14px;
  position: absolute;
  top: 15px;
  cursor: pointer;
  color: #888;
}
.units .active {
  color: #000;
}

.conditions {
  margin-left: 50px;
}
.conditions .list {
  list-style-type: none;
  padding: 0;
  color: rgb(90, 90, 90);
  font-size: 14px;
  display: block;
}

.description {
  text-align: right;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.forecast {
  display: flex;
  overflow: auto;
  scrollbar-color: #888 #d8d8d8;
  scrollbar-width: thin;
  align-items: center;
  margin-top: 20px;
}

/* Start Scrollbar */
.forecast::-webkit-scrollbar {
  height: 8px;
}
.forecast::-webkit-scrollbar-track {
  background: #d8d8d8;
}
.forecast::-webkit-scrollbar-thumb {
  background: #888;
}
.forecast::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
.forecast::-webkit-scrollbar-button {
  display: none;
}
/* End Scrollbar */

.shadowbox {
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(48, 48, 48, 0.25);
  height: 220px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.shadowbox .text {
  font-size: 14px;
}

.shadowbox .temperature {
  font-size: 28px;
  display: inline;
}

.error {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: red;
}

@media only screen and (max-width: 1150px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .time {
    display: block;
  }
}

@media only screen and (max-width: 434px) {
  .conditions {
    margin-left: 30px;
  }
}
